h1 {
  margin: 0;
}

.headerTemplate {
  z-index: -1;
}

.add-tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1024px;
  margin: 3% 10%;
}

.content-title {
  font-size: 73px;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

.forms {
  display: flex;
}

.form {
  flex: 1;
  height: 376px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.form span {
  font-size: 20px;
  font-weight: 400;
}

.task-title-form textarea {
  margin-top: 8px;
}

.task-title {
  width: 440px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
  margin-bottom: 10px;
  font-size: 20px;
  resize: none;
  outline: none;
}

.task-title::placeholder {
  color: #d1d1d1;
}

.task-title:focus {
  border-color: #29abe2;
}

.task-description {
  width: 440px;
  height: 120px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  resize: none;
  outline: none;
  padding: 18px 16px 18px 16px;
}

.task-description::placeholder {
  color: #d1d1d1;
  font-size: 21px;
}

.task-description:focus {
  border-color: #29abe2;
}

.task-assigned {
  width: 484px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
  margin-bottom: 10px;
  font-size: 20px;
  resize: none;
  outline: none;
}

.task-assigned::placeholder {
  color: #000000;
}

.task-assigned:focus {
  border-color: #29abe2;
}

.seperator-vertical {
  flex: 1;
  width: 1px;
  background-color: #d1d1d1;
  margin: 0 24px;
}

.add_task_prio {
  display: flex;
  flex-direction: column;
}

.add_task_prio_buttons {
  display: flex;
  margin-bottom: 20px;
  gap: 16px;
}

.prio-btn {
  padding: 16px 10px 16px 10px;
  height: 56px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

select {
  margin-top: 8px;
  padding: 12px 16px 12px 16px;
}

label {
  font-size: 20px;
}
