h1,
h2,
h3,
p {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent !important;
}

.d-none {
  display: none!important;
}

.add-tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6rem;
  padding-top: 6.87rem;
}

.content-title {
  color: #000;
  font-size: 3.8rem;
  font-weight: 700;
}

.task-forms {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
}

/* general form styles */
input {
  border: 1px solid #d1d1d1;
  background-color: white;
  border-radius: 0.625rem;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #d1d1d1;
  font-size: 1.25rem;
}

textarea {
  border: 1px solid #d1d1d1;
  background-color: white;
  border-radius: 0.625rem;
  resize: vertical;
}

textarea:focus,
input:focus {
  border-color: #29abe2;
  outline: none;
}

.form-span {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}

.required-asteriks::after {
  content: "*";
  color: #ff8190;
}

.required-asteriks-before:before {
  content: "*";
  color: #ff8190;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.arrow-div {
  position: absolute;
}

.forms-sides {
  display: flex;
  min-width: 27.5rem;
  height: 23.5rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.input-required-warning {
  font-family: "Poppins";
  font-size: 0.75rem;
  font-weight: 400;
  color: #ff8190;
  max-height: 1rem;
}

.form-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.25rem;
}

/* image styles */

.arrow-symbol {
  padding: 2px;
  z-index: 10;
}

.plus-symbol {
  padding: 2px;
}

.arrow-symbol:hover,
.plus-symbol:hover {
  background-color: #f6f7f8;
}

.input-symbol {
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  top: 4.5rem;
  transform: translateY(-100%);
  left: 24.5rem;
}

.input-symbol-plus {
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  top: -0.9rem;
  transform: translateY(-100%);
  left: 24.5rem;
}

.input-symbol-calendar {
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  top: -0.7rem;
  transform: translateY(100%);
  left: 24.5rem;
}

/* leftside forms */
.task-title-input {
  padding: 0.75rem 1.3125rem;
  font-size: 1.25rem;
  align-self: stretch;
}

.task-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

.task-description-textarea {
  height: 7.5rem;
  padding: 1.125rem 1rem;
  font-size: 1.25rem;
  align-self: stretch;
}

.add-contact-input {
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  align-self: stretch;
  cursor: pointer;
  z-index: 10;
}

.add-contact-input:hover {
  border: 1px solid #a8a8a8;
}

.add-contact-input:focus {
  border: 1px solid #29abe2;
}

/* seperator */
.seperator-vertical {
  width: 1px;
  height: 26.5rem;
  flex-shrink: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #d1d1d1;
}

/* rightside forms */
.due-date-input {
  padding: 0.75rem 1.3125rem;
  font-size: 1.25rem;
  align-self: stretch;
}

.prio_buttons {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.prio-btn {
  display: flex;
  padding: 1rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 0.625rem;
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.add-category-input {
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  align-self: stretch;
  cursor: pointer;
}

.add-category-input:hover {
  border: 1px solid #a8a8a8;
}

.add-category-input:focus {
  border: 1px solid #29abe2;
}

.subtask-input {
  padding: 0.75rem 1.3125rem;
  font-size: 1.25rem;
  align-self: stretch;
}

.subtask-input:focus {
  border: 1px solid #29abe2;
}

.addTaskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: solid 1px #2a3647;
  border-radius: 0.625rem;
  gap: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.addTaskBtn:hover {
  box-shadow: 0px 5px 4px 0px #bcbdbe;
}

.clearBtn {
  background-color: transparent;
  color: #2a3647;
}

/* footer of add task section */

.clearBtn:hover {
  color: #29abe2;
  border-color: #29abe2;
  transition: 200ms;
}

.createBtn {
  background-color: #2a3647;
  color: white;
  font-weight: 600;
}

.createBtn:hover {
  background-color: #29abe2 !important;
  border-color: #29abe2;
  transition: 200ms;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5rem;
  gap: 32rem;
}

.footer-required-field {
  display: flex;
  align-items: flex-end;
  font-size: 1rem;
  font-weight: 400;
}

.footer-btn-container {
  display: flex;
  gap: 1rem;
}

/* "assign to" dropdown */

.assignDropdown {
  width: 27.4rem;
  height: 9rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #d1d1d1;
  border-top: none;
  position: absolute;
  z-index: 5;
  top: 46.6rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  padding-bottom: 1rem;
}


.contactDiv {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0rem 1rem;
}


.checkbox {
  cursor: pointer;
}


/* mediaquerrys */

@media (max-width: 1320px) {
  .task-forms {
    flex-direction: column;
  }

  .seperator-vertical {
    display: none;
  }

  .forms-sides {
    height: auto;
  }
}
