.boardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.97rem;
    padding-bottom: 2.97rem;
    margin-left: 4rem;
    margin-right: 5.5rem;
}

.boardHeader h2 {
    font-size: 3.8125rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.boardHeaderControll {
    display: flex;
    gap: 2rem;
}

.sortTasks {
    display: flex;
    width: 19.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-radius: 20px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
}

.sortTasks input {
    height: 2rem;
    border: none;
    color: var(--Style, #D1D1D1);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.sortTasks button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: white;
}

.sortTasksSpacer {
    background: #D1D1D1;
    height: 1.9375rem;
    width: 1px;
}

.sortTasksButton {
    display: flex;
    gap: 1rem;
}

.sortTasksButton :hover {
    cursor: pointer;
}

.addTaskButton {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.625rem;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: white;
}

.addTaskButton p {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.toDoList {
    display: flex;
    justify-content: space-evenly;
    gap: 1.62rem;
    padding: 0 4rem 0 4rem;
}

.toDoList p {
    width: 15.25rem;
}

.toDoList table {
    display: flex;
    text-align: left;
}

.toDoList h3 {
    color: #2A3647;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;
}

.toDoList p {
    color: var(--icon, #A8A8A8);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}

.toDoList span {
    color: #000;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9rem;
}

.toDoListCategories {
    display: flex;
    width: 15.75rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.toDoCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 1.5rem;
    gap: 1.5rem;
    width: 15.75rem;
}

.noTaskFound {
    display: flex;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.noTaskFound p {
    color: var(--icon, #A8A8A8);

    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}

.headerUserStory {
    display: flex;
    width: 7.0625rem;
    padding: 0.25rem 1rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #0038FF;
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}

.headerTechnicalTask {
    display: flex;
    width: 7.0625rem;
    padding: 0.25rem 1rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #1FD7C1;
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}

.userIcon {
    display: flex;
    flex-direction: row;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2.8125rem;
    gap: 0.625rem;
    margin-right: -0.5rem;
    border: 1px solid white;
}

.icon:nth-child(1) {
    /* left: 0; */
    background-color: #FF7A00;
}

.icon:nth-child(2) {
    /* left: 0.5rem; */
    background-color: #1FD7C1;
}

.icon:nth-child(3) {
    /* left: 1rem; */
    background-color: #462F8A;
}

.toDoCardFooter {
    display: flex;
    justify-content: space-between;
}

.drag-area-highlight {
    background-color: red;
}

.listContainer {
    display: flex;
    flex-direction: column;
    min-height: 32rem;
    gap: 1rem;
}

.dNone {
    display: none;
}

.searchInput {
    color: black !important;
    outline: none;
    padding: 0 !important;
}


.hidden {
    z-index: -10;
}

.mainAddTaksContainer {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100vw !important;
    height: 100vh !important;
    overflow-x: hidden;
}

.add-tasks {
    background-color: white;
    padding: 0 0 0 0 !important;
}

.addTaskMenu {
    position: absolute;
    right: -100rem;
    transform-origin: right;
    transform: translateX(-120rem) translateY(0);
    transition: transform 0.6s ease-in-out;
}