
.privacy-policy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 6rem 0 6rem;
    max-width: 75.5rem;
}

.privacy-policy-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 2rem 0;
}

.privacy-policy img {
    width: 2rem;
    height: 2rem;
    transition: 80ms ease-out;
    border-radius: 50%;
    cursor: pointer;
}

.privacy-policy img:hover {
    transform: scale(1.25);
    background-color: #EEE;
}

.privacy-policy h1 {
    font-size: 3.8125rem;
}

.privacy-policy h2 {
    font-size: 1.6875rem;
    margin: 0.62rem 0;
}

.privacy-policy p {
    margin: 0 0 2.19rem 0;
}



