:root {
    --background-default: #F0F0F0;
    --default-color: #2A3647;
    --hover-color: #29ABE2;
    --clicked-color: #091931;
    --alert-color: #FF81AB;
    --border-default: #D1D1D1;
    --border-focus: #29ABE2;
    --border-hover: #A8A8A8;
    --border-error: #FF8190;
    --urgent: #FF3D00;
    --medium: #FFA800;
    --low: #7AE229;
    --black: #000000;
}


html {
    font-size: 16px;
    font-weight: 400;
}


body {
    height: 100dvh;
    display: flex;
}


* {
    margin: 0;
    font-family: 'Inter';
}


a {
    text-decoration: none;
    color: unset;
}


/* -----------scrollbar */
/* width */
::-webkit-scrollbar {
    width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-default);
    border-radius: 0.3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--border-default);
    border-radius: 0.3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--border-focus);
}

/* --------scrollbar  END*/

.sidebar {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    background-color: #2A3647;
    width: 14.5rem;
    z-index: 2;
}


.sidebar a {
    text-decoration: none;
}


.sidebar img {
    width: 1.875rem;
    height: 1.875rem;
}


.sidebarImg {
    width: 6.25213rem !important;
    height: 7.62288rem !important;
    flex-shrink: 0;
    padding-top: 4rem;
}


.sidebarMainButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14.5rem;
    gap: 0.94rem;
}


.sidebarMainButton {
    display: flex;
    height: 2.875rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.menuButtons:hover{
    background: #2A3D59;
    /* background: #091931; */
    /* color: #FFF; */
}

.menuButtons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    color: #CDCDCD;
    width: 14.5rem;
    height: 2.875rem;
    justify-content: center;
}

.menuButtons span {
    width: 5.125rem;
    height: 1.875rem;
    font-size: 1rem;
    line-height: 120%;
    display: flex;
    align-items: center;
}


.header {
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
    display: flex;
    position: fixed;
    height: 6rem;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}


.header p {
    margin-left: 21.75rem;
    font-size: 1.25rem;
}


.headerButtons {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 2.5rem;
    gap: 8px;
}


#headerIcon {
    border-radius: 50px;
    border: solid black;
    width: 3rem;
}


.content {
    margin-top: 6rem;
    margin-left: 14.5rem;
    background-color: #F6F7F8;
    flex: 1;
    overflow: auto;
}


.sidebarFooterButtons {
    padding-top: 15.1875rem;
    padding-bottom: 4rem;
}

.sidebarFooterButtons a {
    font-size: 1rem;
    line-height: 120%;
    color: #A8A8A8;
    padding: 0.5rem;
    display: inline-block;
    padding-left: 3.25rem;
}

.sidebarFooterButtons a:hover {
    color: #29ABE2;
    font-weight: 700;
}

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.d-none {
    display: none !important
}